<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!(signedin$ | async)">
    <button mat-flat-button color="accent" routerLink="/">Sign in</button>
  </ng-container>
  <ng-container *ngIf="signedin$ | async">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>logout</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="/signout" mat-menu-item>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
